/* 
Represents the global style fo the website's pages 
Author : DrLarck
Last update : 20/09/19 (DrLarck)
*/

/* Manages the header displaying */
header {
    /* dimensions */
    height: auto;
    margin-top: 2%;

    /* text */
    text-align: center;
    font-family: "Calibri";

    /* color */
    color: white;
    background-color: transparent;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Manages the page appearance */

.page {
    border-top: 6px solid #454545;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /* dimension */
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;

    height: auto;

    /* color */
    background-color: white;
    box-shadow: 0px 8px 15px -10px black;
}

/* Manages the footer displaying */
footer {
    /* dimension */
    width: auto;
    height: auto;
    border-top: 3px solid #454545;

    margin-left: 5%;
    margin-right: 5%;
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    /* text */
    text-align: center;

    /* color */
    background-color: #f7f7f7;
    box-shadow: 0px 8px 15px -10px black;
}

footer p {
    /* text style */
    font-style: italic;
    padding-bottom: 15px;

    /* color */
    color: #454545;
}

/* Manages the body displaying */
body {
    /* text */
    text-align: justify;
    font-family: "Calibri";

    /* color */
    color: black;
    background: url(../resource/image/background/2.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

body p {
    /* style */
    font-size: 18px;
    
    /* pushes the text to the right */
    margin-left: 5%;
    margin-right: 5%;
}

body h1, h2, h3, h4, h5, h6 {
    /* style */
    font-family: "Calibri";
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 25px;

    /* pushes the text to the right */
    margin-left: 5%;
    margin-right: 5%;

    /* color */
    color: #454545;
}

/* Manages the link displayin */
a {
    /* style */
    text-decoration: none;
    font-weight: bold;

    /* color */
    color: #00a3d9;
}

a:hover {
    color: #454545;
}

hr {
    margin-top: 2%;
    width: 90%;
    color: #454545;
    opacity: 0.2;
}

b {
    color: #454545;
}

/* CUSTOM */
/* Manages the nav buttons */

.nav-top-button a {
    font-size: 20px;
    margin-left: 5px;
    /* dimension */
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    /* color */
    color: white;
    background-color: #454545;
}

.nav-top-button a:hover {
    border-top: 6px solid #00a3d9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #00a3d9;
    box-shadow: 0px 0px 5px #59d6ff;
}

/* Manages the note displaying */
.note {
    /* dimension */
    padding-bottom: 1px;
    padding-top: 1px;

    width: auto;

    border-radius: 3px;
    
    /* text */
    font-style: italic;

    /* position */
    margin-left: 5%;
    margin-right: 5%;
    
    /* color */
    border-left: 6px solid #648bff;
    background-color: #d0f2ff;
}

.note p {
    margin-left: 1%;
}

.note h4 {
    margin-left: 1%;
    color: #3a6bff;
}