/* 
Represents the global style fo the website's pages 
Author : DrLarck
Last update : 17/09/19 (DrLarck)
*/

/* Manages the header displaying */
header {
    /* dimensions */
    height: 80px;
    width: auto;
    border-bottom: 6px solid #454545;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    /* position */
    position: relative;

    /* text */
    text-align: center;
    font-family: "Calibri";

    /* color */
    color: white;
    background-color: #5c5c5c;
}

header p {
    /* position */
    padding-bottom: 50px;
}

/* Manages the footer displaying */
footer {
    /* dimension */
    width: 100%;
    margin-top: 33%;
    height: auto;
    border-top: 6px solid #454545;

    /* text */
    text-align: center;

    /* color */
    background-color: #f7f7f7;
}

footer p {
    /* text style */
    font-style: italic;

    /* color */
    color: #454545;
}

/* Manages the body displaying */
body {
    /* text */
    text-align: justify;
    font-family: "Calibri";
    font-size: 15px;

    margin-left: 10%;
    margin-right: 10%;
    
    /* color */
    color: black;
    background-color: white;
}

body p {
    /* pushes the text to the right */
    margin-left: 5%;
    margin-right: 5%;
}

body h1, h2, h3, h4, h5, h6 {
    /* style */
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

    /* pushes the text to the right */
    margin-left: 5%;
    margin-right: 5%;
}

/* Manages the link displayin */
a {
    /* style */
    text-decoration: none;
    font-weight: bold;

    /* color */
    color: #00a3d9;
}

a:hover {
    text-shadow: 0px 0px 2px #59d6ff;
}

/* Manages the title displaying */
h3 {
    color: black;
    font-weight: bold;
}

/* Manages the nav buttons */

.nav-top-button a {
    /* dimension */
    padding-left: 3px;
    padding-right: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    /* color */
    color: white;
    background-color: #454545;
}

.nav-top-button a:hover {
    background-color: #00a3d9;
    box-shadow: 0px 0px 5px #59d6ff;
}

/* Manages the note displaying */
.note {
    /* dimension */
    padding-bottom: 1px;
    padding-top: 1px;

    width: auto;

    border-radius: 3px;
    
    /* text */
    font-style: italic;

    /* position */
    margin-left: 5%;
    margin-right: 5%;
    
    /* color */
    border-left: 6px solid #648bff;
    background-color: #d0f2ff;
}

.note p {
    margin-left: 1%;
}

.note h4 {
    margin-left: 1%;
    color: #3a6bff;
}

.background {
    background: url(../resource/image/background/1.jpg);
}