/*
Manages the css of the patch pages.

Author : DrLarck
Last update : 20/09/19
*/

/* CUSTOM */
/* PREVIEW */
.patch-preview {
    /* position */
    margin-left: 5%;
    margin-right: 5%;

    /* dimension */
    border-radius: 5px;
    border-left: 6px solid #8615cd;

    /* color */
    background-color: #c3acd1;
}

.patch-preview p {
    /* text */
    font-style: italic;

    /* position */
    margin-left: 2%;
    margin-right: 2%;

    /* dimension */
    padding-bottom: 1%;
}

.patch-preview a {
    /* color */
    color: #8615cd;
}

.patch-preview a:hover {
    /* color */
    color: #454545;
}

.patch-preview h4 {
    /* position */
    margin-left: 2%;
    margin-right: 2%;

    /* dimension */
    padding-top: 1%;
    margin-bottom: 0px;

    /* color */
    color: #8615cd;
}

/* DEV COMMENT */
.dev-comment {
    /* position */
    margin-left: 5%;
    margin-right: 5%;

    /* text */
    font-style: italic;

    /* dimension */
    border-left: 6px solid #454545;
    border-radius: 5px;

    /* color */
    background-color: #ebebeb;
}

.dev-comment p {
    /* position */
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 1%;

    /* style */
    font-style: italic;
}

.dev-comment h4 {
    /* position */
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;

    /* dimension */
    font-size: 20px;
}